/* ==UserStyle==
@name           Messenger Dark
@description    A dark theme for Facebook Messenger.
@author         reizumi
@namespace      codeberg.org/reizumi/MessengerDark
@homepageURL    https://codeberg.org/reizumi/MessengerDark
@updateURL      https://codeberg.org/reizumi/MessengerDark/raw/branch/master/messenger-dark.user.css
@supportURL     https://codeberg.org/reizumi/MessengerDark/issues
@preprocessor   stylus
@version        1.4.1
@license        CC-BY-SA-4.0

@var select     theme           "Preset color theme" {
    "System default"    : "system",
    "Dark*"             : "dark",
    "Blackout"          : "blackout",
    "Gruvbox"           : "gruvbox",
    "Nord"              : "nord",
    "Discord"           : "discord",
    "Mastodon"          : "mastodon",
    "Moonlight"         : "moonlight",
    "Proton"            : "proton",
    "Breeze"            : "breeze",
    "Adwaita"           : "adwaita",
    "Fuchsia"           : "fuchsia-dark",
    "Custom"            : "custom",
}
@var text       fontName        "Custom font"                   default
@var checkbox   colorScrollbars "Theme scrollbars"              1
@var checkbox   thinScrollbars  "Thin scrollbars"               1
@var checkbox   colorConvos     "Theme conversation colors"     0
@var checkbox   colorSelect     "Theme text selection"          0
@var color      bg-mt           "Message search match color"    #f7b928
@var color      bg-ac           "Selected item color"           rgba(0, 0, 0, .06)
@var color      bg-1            "Custom background 1"           #222
@var color      bg-2            "Custom background 2"           #2b2b2b
@var color      bg-3            "Custom background 3"           #333
@var color      fg-1            "Custom foreground 1"           #fff
@var color      fg-2            "Custom foreground 2"           #aaa
@var color      ic-1            "Custom icon color"             #fff
@var color      ac-1            "Custom accent color"           #09f
@var color      bg-bb           "Custom sender bubble color"    #07b
@var text       ic-2            "Custom icon filter"            invert(100%) sepia(0%) saturate(4807%) hue-rotate(84deg) brightness(110%) contrast(110%)
@var text       ac-2            "Custom accent filter"          invert(50%) sepia(94%) saturate(3979%) hue-rotate(183deg) brightness(104%) contrast(103%)
@var checkbox   darkButtonText  "Custom: Dark button text"      0
==/UserStyle== */

//  Some icons require CSS filters due to them using images instead of vectors. (eg. three-dot menu, arrows, and payment icons)
//  To make or generate your own CSS filter, you can use any tool that converts color values to CSS filter.
//  Convert ic-1 (icon) and ac-1 (accent color) color values for consistency, or do whatever you want.

@-moz-document domain("messenger.com") {
    // Preset color themes
    if theme == dark || theme == system {
        bg-1 = #222;
        bg-2 = #2b2b2b;
        bg-3 = #333;
        fg-1 = #fff;
        fg-2 = #aaa;
        ic-1 = #fff;
        ac-1 = #09f;
        bg-bb = #07b;
        ic-2 = invert(100%) sepia(0%) saturate(4807%) hue-rotate(84deg) brightness(110%) contrast(110%);
        ac-2 = invert(50%) sepia(94%) saturate(3979%) hue-rotate(183deg) brightness(104%) contrast(103%);
    } else if theme == blackout {
        bg-1 = #000;
        bg-2 = #222;
        bg-3 = #2b2b2b;
        fg-1 = #cbcbcb;
        fg-2 = #858585;
        ic-1 = #cbcbcb;
        ac-1 = #0082d9;
        bg-bb = #048;
        ic-2 = invert(85%) sepia(75%) saturate(0%) hue-rotate(122deg) brightness(82%) contrast(100%);
        ac-2 = invert(29%) sepia(96%) saturate(1502%) hue-rotate(183deg) brightness(101%) contrast(101%);
    } else if theme == gruvbox {
        bg-1 = #282828;
        bg-2 = #3c3836;
        bg-3 = #32302f;
        fg-1 = #ebdbb2;
        fg-2 = #a89984;
        ic-1 = #ebdbb2;
        ac-1 = #83a598;
        bg-bb = #076678;
        ic-2 = invert(85%) sepia(28%) saturate(263%) hue-rotate(5deg) brightness(100%) contrast(89%);
        ac-2 = invert(77%) sepia(3%) saturate(1992%) hue-rotate(105deg) brightness(82%) contrast(87%);
    } else if theme == nord {
        bg-1 = #2e3440;
        bg-2 = #364054;
        bg-3 = #424c60;
        fg-1 = #eceff4;
        fg-2 = #d8dee9;
        ic-1 = #eceff4;
        ac-1 = #7ea1cc;
        bg-bb = #587ba6;
        ic-2 = invert(97%) sepia(18%) saturate(448%) hue-rotate(177deg) brightness(99%) contrast(93%);
        ac-2 = invert(66%) sepia(24%) saturate(566%) hue-rotate(173deg) brightness(91%) contrast(87%);
    } else if theme == discord {
        bg-1 = #313338;
        bg-2 = #3c3f45;
        bg-3 = #404349;
        fg-1 = #f2f3f5;
        fg-2 = #b5bac1;
        ic-1 = #f2f3f5;
        ac-1 = #828cf5;
        bg-bb = #5865f2;
        ic-2 = invert(98%) sepia(16%) saturate(235%) hue-rotate(177deg) brightness(99%) contrast(93%);
        ac-2 = invert(55%) sepia(98%) saturate(1125%) hue-rotate(203deg) brightness(93%) contrast(108%);
    } else if theme == mastodon {
        bg-1 = #191b22;
        bg-2 = #272b36;
        bg-3 = #313543;
        fg-1 = #fff;
        fg-2 = #9baec8;
        ic-1 = #d9e1e8;
        ac-1 = #8c8dff;
        bg-bb = #4d4dee;
        ic-2 = invert(92%) sepia(3%) saturate(1392%) hue-rotate(188deg) brightness(104%) contrast(82%);
        ac-2 = invert(51%) sepia(27%) saturate(1019%) hue-rotate(201deg) brightness(108%) contrast(106%);
    } else if theme == moonlight {
        bg-1 = #223;
        bg-2 = #2b2b3c;
        bg-3 = #334;
        fg-1 = #fff;
        fg-2 = #aab;
        ic-1 = #aab;
        ac-1 = #99e;
        bg-bb = #66b;
        ic-2 = invert(77%) sepia(18%) saturate(187%) hue-rotate(201deg) brightness(88%) contrast(86%);
        ac-2 = invert(62%) sepia(28%) saturate(665%) hue-rotate(202deg) brightness(97%) contrast(93%);
    } else if theme == proton {
        bg-1 = #1c1b22;
        bg-2 = #23222b;
        bg-3 = #2b2a33;
        fg-1 = #fff;
        fg-2 = #aaa;
        ic-1 = #fbfbfe;
        ac-1 = #0df;
        bg-bb = #126171;
        ic-2 = invert(97%) sepia(8%) saturate(1873%) hue-rotate(183deg) brightness(107%) contrast(99%);
        ac-2 = invert(65%) sepia(32%) saturate(2926%) hue-rotate(145deg) brightness(104%) contrast(105%);
    } else if theme == breeze {
        bg-1 = #232629;
        bg-2 = #292d32;
        bg-3 = #31363b;
        fg-1 = #fff;
        fg-2 = #aaa;
        ic-1 = #fff;
        ac-1 = #3daee9;
        bg-bb = #224e65;
        ic-2 = invert(100%) sepia(0%) saturate(4807%) hue-rotate(84deg) brightness(110%) contrast(110%);
        ac-2 = invert(63%) sepia(20%) saturate(1601%) hue-rotate(164deg) brightness(95%) contrast(93%);
    } else if theme == adwaita {
        bg-1 = #242424;
        bg-2 = #2b2b2b;
        bg-3 = #353535;
        fg-1 = #f5f5f5;
        fg-2 = #aaa;
        ic-1 = #eeeeec;
        ac-1 = #78aeed;
        bg-bb = #1b70c9;
        ic-2 = invert(97%) sepia(8%) saturate(607%) hue-rotate(352deg) brightness(115%) contrast(87%);
        ac-2 = invert(63%) sepia(19%) saturate(1049%) hue-rotate(174deg) brightness(103%) contrast(86%);
    } else if theme == fuchsia-dark {
        bg-1 = #342434;
        bg-2 = #3b2b3b;
        bg-3 = #463546;
        fg-1 = #fdf;
        fg-2 = #a8a;
        ic-1 = #fdf;
        ac-1 = #c74375;
        bg-bb = #7b4b7b;
        ic-2 = invert(100%) sepia(30%) saturate(5071%) hue-rotate(197deg) brightness(107%) contrast(107%);
        ac-2 = invert(45%) sepia(24%) saturate(7496%) hue-rotate(312deg) brightness(83%) contrast(85%);
    }
    // Dark button text and icons
    if theme == custom && darkButtonText {
        ic-bn = invert(0%);
        fg-bn = bg-1;
    }
    else {
        ic-bn = invert(100%);
        fg-bn = fg-1;

        if light(ac-1) && theme != custom {
            ic-bn = invert(0%);
            fg-bn = bg-1;
        }
    }
    // Default: Custom scrollbars
    if colorScrollbars {
        // Chromium-based browsers
        ::-webkit-scrollbar {
            background-color: #fff;
            width: 14px;

            &-thumb {
                background-color: rgba(#808080, .25);
                background-clip: padding-box;
                border: 3px solid transparent;
                border-radius: 999px;
            }
        }
        
        if thinScrollbars {
            // Firefox
            html,
            div {
                scrollbar-width: thin;
            }
            // Chromium-based browsers
            ::-webkit-scrollbar {
                width: 8px;

                &-thumb {
                    border-width: 2px;
                }
            }
        }
    }
    /* Function: Dark mode */
    dark_mode() {
        // Root variables
        :root,
        .__fb-light-mode,
        .__fb-dark-mode {
            --messenger-card-background: bg-1 !important;
            --surface-background: bg-1 !important;
            --card-background: bg-1 !important;
            --card-background-flat: bg-3 !important;
            --popover-background: bg-1 !important;
            --chat-incoming-message-bubble-background-color: bg-2 !important;
            --mwp-message-row-background: bg-1 !important;
            --messenger-reply-background: bg-2 !important;
            --secondary-button-background: bg-3 !important;
            --secondary-button-background-floating: bg-2 !important;
            --disabled-button-background: bg-2 !important;
            --input-background: bg-1 !important;
            --wash: bg-3 !important;
            --web-wash: bg-2 !important;
            --comment-footer-background: bg-2 !important;
            --background-deemphasized: bg-2 !important;

            --primary-button-background: ac-1 !important;
            --primary-deemphasized-button-text: ac-1 !important;
            --accent: ac-1 !important;
            --blue-link: ac-1 !important;
            --base-blue: ac-1 !important;
            --base-lemon: bg-mt !important;
            --switch-active: ac-1 !important;
            --toggle-active-background: ac-1 !important;

            --primary-text: fg-1 !important;
            --secondary-text: fg-2 !important;
            --placeholder-text: fg-2 !important;
            --disabled-text: fg-2 !important;
            --disabled-button-text: fg-2 !important;
            --primary-button-text: fg-bn !important;
            --secondary-button-text: fg-1 !important;
            --primary-text-on-media: fg-1 !important;
            --input-label-color-highlighted: ac-1 !important;

            --always-dark-overlay: bg-ac !important;
            --hosted-view-selected-state: bg-ac !important;
            --pressable-background-color-selected: rgba(ac-1, .12) !important;
            --circle-button-normal-background-color: rgba(fg-1, .04) !important;
            --primary-deemphasized-button-background: rgba(ac-1, .08) !important;
            --primary-deemphasized-button-pressed-overlay: rgba(fg-1, .04) !important;
            --secondary-button-background-on-dark: rgba(fg-1, .04) !important;
            --pressable-background-color-hover: rgba(fg-1, .04) !important;
            --chat-replied-message-background-color: rgba(fg-1, .03) !important;
            --chat-text-blockquote-color-background-line: rgba(fg-1, .12) !important
            --comment-background: rgba(fg-1, .08) !important;
            --hover-overlay: rgba(fg-1, .1) !important;
            --press-overlay: rgba(fg-1, .1) !important;
            --overlay-alpha-80: rgba(bg-1, .80) !important;
            --media-inner-border: rgba(fg-1, .1) !important;
            --shadow-inset: rgba(bg-3, .5) !important;
            --progress-ring-neutral-foreground: rgba(fg-1, .4) !important;
            --scroll-thumb: rgba(fg-1, .25) !important;
            --radio-border-color: fg-2 !important;
            --divider: rgba(fg-1, .1) !important;
            --input-border-color: rgba(fg-1, .05) !important;
            --input-border-color-hover: rgba(fg-1, .125) !important;
            --focus-ring-blue: ac-1 !important;
            --placeholder-text-on-media: rgba(fg-2, .05) !important;
            --always-black: bg-1 !important;
            --always-white: fg-1 !important;

            --primary-icon: ic-1;
            --secondary-icon: rgba(ic-1, .65) !important;
            --icon-primary-color: ic-1 !important;
            --icon-secondary-color: rgba(ic-1, .4) !important;
            --icon-tertiary-color: rgba(ic-1, .2) !important;
            --placeholder-icon: ic-1 !important;
            --disabled-icon: rgba(ic-1, .35) !important;
            --filter-primary-icon: ic-2 !important;
            --filter-secondary-icon: ic-2 !important;
            --filter-disabled-icon: ic-2 !important;
            --filter-placeholder-icon: ic-2 !important;
            --filter-accent: ac-2 !important;

            --fds-gray-00: lighten(bg-1, 0%) !important;
            --fds-gray-05: lighten(bg-1, 5%) !important;
            --fds-gray-10: lighten(bg-1, 10%) !important;
            --fds-gray-20: lighten(bg-1, 20%) !important;
            --fds-gray-25: lighten(bg-1, 25%) !important;
            --fds-gray-30: lighten(bg-1, 30%) !important;
            --fds-gray-45: lighten(bg-1, 45%) !important;
            --fds-gray-70: lighten(bg-1, 70%) !important;
            --fds-gray-80: lighten(bg-1, 80%) !important;
            --fds-gray-90: lighten(bg-1, 90%) !important;
            --fds-gray-100: lighten(bg-1, 100%) !important;
            
            // Apply custom selected item color only if default value is changed
            if bg-ac != "rgba(0,0,0,0.06)" {
                --pressable-background-color-selected: bg-ac !important;
            }
            
            // Color scheme support
            @supports (color-scheme: dark) {
                color-scheme: dark;
            }
        }
        // Dark: Custom scrollbars
        if colorScrollbars {
            // Firefox
            html,
            div {
                scrollbar-color: rgba(fg-1, .25) bg-1;
            }
            // Chromium-based browsers
            ::-webkit-scrollbar {
                background-color: bg-1;

                &:hover {
                    background-color: bg-2;
                }
                &-thumb {
                    background-color: rgba(fg-1, .25);
                }
            }
        }
        // Theme Messenger conversation colors
        if colorConvos {
            // Chat bubbles
            [data-scope="messages_table"] {
                .x11jlvup {
                    --chat-outgoing-message-bubble-background-color: bg-bb !important;
                }
                .html-div[style^="background-color: rgb("] {
                    background-color: bg-bb !important;
                }
            }
            // Icon colors
            path[fill]:not([fill="var(--always-white)"]):not([fill="var(--progress-ring-neutral-foreground)"]):not(svg[style="--color: var(--primary-icon);"] path),
            rect[fill]:not([fill="white"]) {
                fill: ac-1 !important;
            }
            .x1ja2u2z {
                --mwp-header-button-color: ac-1 !important;
            }
            .x198g3q0 {
                color: ac-1;
            }
            // Menu options
            .x1dmfqyo g {
                stroke: ac-1 !important;
            }
            // Page options
            .x1pju0fl[role="button"] {
                background-color: ac-1 !important;

                svg path {
                    fill: fg-bn !important;
                }
            }
            // Chat bubble text color
            .x1yc453h.x126k92a.x6prxxf.x1fc57z9.x14ctfv {
                color: fg-1 !important;
            }
            // Status messages
            .x1i10hfl.xjbqb8w.x6umtig.x1b1mbwd.xaqea5y.xav7gou.x9f619.x1ypdohk.xt0psk2.xe8uvvx.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xexx8yu.x4uap5.x18d9i69.xkhd6sd.x16tdsg8.x1hl2dhg.xggy1nq.x1a2a7pz.x1heor9g.xt0b8zv.x1xlr1w8 {
                color: ac-1 !important;
            }
        } else {
            .x1yc453h.x126k92a.x6prxxf.x1fc57z9.x14ctfv {
                color: #fff !important;
            }
        }
        // Theme text selection
        if colorSelect {
            ::selection {
                background-color: rgba(ac-1, .4);
            }
        }
        // Icon colors
        svg[style="--color: var(--always-black);"] {
            --color: ic-1 !important;
        }
        svg[style="--color: var(--primary-icon);"] {
            fill: var(--color);
        }
        [data-visualcompletion="css-img"]:is([style*="width: 24px"], [style*="width: 32px"]) {
            filter: ic-2;
        }
        .xtvsq51 .xaj1gnb {
            filter: ic-bn;
        }
        .x1qhmfi1 .x198g3q0 {
            color: ic-1 !important;
        }
        // Video progress and volume bars
        .x1evw4sf {
            background-color: ac-1;
        }
        // Hidden images
        .x11dxs5c {
            background-color: bg-2;
        }
        // File attachments
        .x1ybostu {
            background-color: bg-2;
        }
        // Focus rings
        .x51xajf::before {
            border-color: bg-1;
        }
        .x7kqs8i::after {
            border-color: fg-2;
        }
        // Document preview
        .x1yi8jrw {
            background-color: bg-1;

            .x1lliihq.x1k90msu.x2h7rmj.x1qfuztq.x14ctfv {
                fill: fg-bn !important;
            }
        }
        // Focus placeholder
        :focus::placeholder {
            color: var(--secondary-text);
        }
        // Loading spinner
        path[style="stroke: rgb(24\, 119\, 242);"] {
            stroke: ac-1 !important;
            fill: none !important;
        }
        rect[style="stroke: rgb(204\, 208\, 213);"] {
            stroke: bg-2 !important;
        }
        // Conversation loading bar
        .x1xzmf5g {
            background-color: bg-2;
        }
        .x4o00kh {
            background-color: ac-1;
        }
    }
    // Custom interface font
    if fontName != default {
        body,
        button,
        input,
        label,
        select,
        td,
        textarea {
            font-family: fontName, system-ui, sans-serif !important;
        }
    }
    // Apply dark mode based on system preference
    if theme == system {
        @media (prefers-color-scheme: dark) {
            dark_mode();
        }
    }
    else {
        dark_mode();
    }
}
